@model FileInfo

<div class="card shadow">
    <img class="card-img-top bg-light" src="@Url.Action("ThumbnailFile", "Files", new { fileName = this.Model.Name })" alt="@this.Model.Name">
    <div class="card-body">
        <span class="badge badge-warning">@this.Model.Extension</span><strong class="text-primary">@this.Model.Name</strong>
        <div class="col-sm">
            <div class="row">
                <strong>创建时间：</strong>@this.Model.CreationTime.ToString("yyyy-MM-dd hh:mm:ss.fff");
            </div>
            <div class="row">
                <strong>文件大小：</strong>@Helper.FormatFileSize(this.Model.Length)
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-sm w-100 shadow">
            <button type="button" data-file-name="@this.Model.Name" class="btn-delete-file btn btn-sm btn-danger text-truncate">删除</button>
            <button type="button" data-file-name="@this.Model.Name" class="btn-download-file btn btn-sm btn-primary text-truncate">下载</button>
        </div>
    </div>
</div>

