@model FileInfo

<div class="alert alert-secondary shadow-sm" role="alert">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <strong class="text-primary">@this.Model.Name</strong> <span class="badge badge-warning">@this.Model.Extension</span>
            </div>
            <div class="col-sm-2">
                <button type="button" data-file-name="@this.Model.Name" class="btn-download-file btn btn-sm btn-primary text-truncate w-100 shadow">下载文件</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-truncate">
                <strong>文件路径：</strong>@this.Model.FullName
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <strong>创建时间：</strong>@this.Model.CreationTime.ToString("yyyy-MM-dd hh:mm:ss.fff");
            </div>
            <div class="col-sm">
                <strong>文件大小：</strong>@this.Model.Length 字节
            </div>
        </div>
    </div>
</div>