@model FileInfo

<div class="card">
    <img class="card-img-top bg-light" src="@Url.Action("ThumbnailFile", "Files", new { fileName = $"{this.Model.Name}.jpg" })" alt="@this.Model.Name">
    <div class="card-body">
        <span class="badge badge-warning">@this.Model.Extension</span><strong class="text-primary">@this.Model.Name</strong>
        <div class="col-sm">
            <div class="row">
                <strong>创建时间：</strong>@this.Model.CreationTime.ToString("yyyy-MM-dd hh:mm:ss.fff");
            </div>
            <div class="row">
                <strong>文件大小：</strong>@this.Model.Length.ToString("N0") 字节
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" data-file-name="@this.Model.Name" class="btn-download-file btn btn-sm btn-primary btn-block text-truncate shadow">下载文件</button>
    </div>
</div>

